/HotelReservationProjectReservationClient/nbproject/private/
/HotelReservationProjectManagementClient/nbproject/private/
/nbproject/private/
/HotelReservationProjectLibrary/nbproject/private/
/HotelReservationProject-ejb/nbproject/private/
/HotelReservationProjectHolidayReservationSystemClient/nbproject/private/
