/HotelReservationProjectLibrary/nbproject/private/
/HotelReservationProjectReservationClient/nbproject/private/
/HotelReservationProject-ejb/nbproject/private/
/nbproject/private/
/HotelReservationProjectManagementClient/nbproject/private/
/HotelReservationProjectHolidayReservationSystemClient/nbproject/private/
/HotelReservationProjectLibrary/build/
/HotelReservationProject-ejb/build/
/HotelReservationProjectLibrary/dist/
/build/
/HotelReservationProjectHolidayReservationSystemClient/dist/
/HotelReservationProjectHolidayReservationSystemClient/build/
/HotelReservationProjectManagementClient/build/
/HotelReservationProjectManagementClient/dist/
/HotelReservationProject-ejb/dist/
/HotelReservationProjectReservationClient/dist/
/HotelReservationProjectReservationClient/build/
